artifacts/ochola-supernet/public/hotspot/xml/WISPAP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WISPAccessGatewayParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Redirect" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AccessProcedure" type="xs:string"/>
              <xs:element name="AccessLocation" type="xs:string" minOccurs="0"/>
              <xs:element name="LocationName" type="xs:string" minOccurs="0"/>
              <xs:element name="LoginURL" type="xs:string"/>
              <xs:element name="MessageType" type="xs:integer"/>
              <xs:element name="ResponseCode" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
